.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 85px);
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;

    .registration-form {
        width: 70%;
        // height: 70%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #b3b3b3;
    
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .redirection-buttons {
            display: flex;
            flex-direction: row;

            img {
                max-width: 100%;
                cursor: pointer;
            }
        }
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #474747;
    border-top-color: #888;
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}