footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #979797;
    padding: 20px 0;
    white-space: nowrap;

    .container{
        height: 100%;
        .row{
            height: 100%;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}