<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
            <h3>Crear turno</h3>
            <p></p>
            <button class="btn btn-primary" routerLink="/solicitar-turnos">Solicitar turnos</button>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h3>Lista de turnos</h3>
            <p></p>
            <button class="btn btn-primary" routerLink="/admin/turnos">Turnos</button>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h3>Lista de usuarios</h3>
            <p></p>
            <button class="btn btn-primary" routerLink="/admin/user-list">Ver usuarios</button>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h3>Ver estadisticas</h3>
            <p></p>
            <button class="btn btn-primary" routerLink="/admin/reports">Estadisticas</button>
        </div>
      </div>
    </div>
</footer>