<div class="patient-list-page">
    <div class="table-container">
        <ng-container *ngIf="!isLoading">
            <div class="users-container row">
                <div class="col-md-3 mb-4" *ngFor="let user of users">
                  <div class="card" appHoverHighlight>
                    <div class="card-header">
                        <img class="card-img-top" [src]="user.imagen1" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ user | namePipe }}</h5>
                      <p class="card-text">
                        <strong>Tipo:</strong> {{ user.type }}<br>
                        <strong>Edad:</strong> {{ user.edad }}<br>
                        <strong>DNI:</strong> {{ user.dni }}<br>
                        <strong>Mail:</strong> {{ user.email }}<br>
                        <span *ngFor="let turn of user.turns"><strong>{{ turn.data.fechaHora.toDate() | date:'dd/MM/YYYY h:mm a' }}:</strong> {{ turn.data.review }} <br></span>
                      </p>
                      <div *ngIf="user.type === 'paciente'" class="text-center mb-1">
                        <button [routerLink]="'/historia-clinica/' + user.id" class="btn btn-primary">Ver historia de usuario</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="isLoading">
            <div class="spinner-container">
              <div class="spinner"></div>
            </div>
        </ng-container>
    </div>

    <app-footer style="width: 100%;"></app-footer>
</div>
  