<div class="user-list-page">
    <div class="table-container">
        <div class="row buttons-container">
            <div class="col-md-4">
                <button class="btn btn-primary" routerLink="/registro">Crear paciente</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-warning" routerLink="/registro">Crear especialista</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success" routerLink="/admin/registro-admin">Crear administrador</button>
            </div>
        </div>

        <ng-container *ngIf="!isLoading">
            
            <div class="users-container row">
                <div class="col-md-3 mb-4" *ngFor="let user of users">
                  <div class="card">
                    <div class="card-header">
                        <img class="card-img-top" [src]="user.images[0]" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ user.nombre }} {{ user.apellido }}</h5>
                      <p class="card-text">
                        <strong>Tipo:</strong> {{ user.type }}<br>
                        <strong>Edad:</strong> {{ user.edad }}<br>
                        <strong>DNI:</strong> {{ user.dni }}<br>
                        <strong>Mail:</strong> {{ user.email }}
                      </p>
                      <div *ngIf="user.type === 'especialista'" class="text-center mb-1">
                        <div>
                            <strong>Habilitado:</strong>
                            <input type="checkbox" [(ngModel)]="user.enabled" (ngModelChange)="onEnabledChange($event, user.id)">
                        </div>
                      </div>
                      <div *ngIf="user.type === 'paciente'" class="text-center mb-1">
                        <button [routerLink]="'/historia-clinica/' + user.id" class="btn btn-primary">Ver historia de usuario</button>
                      </div>
                      <div *ngIf="user.type !== 'admin'" class="text-center mb-1">
                        <button (click)="downloadUserTurns(user)" class="btn btn-primary">Descargar turnos</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <button (click)="downloadUsersExcel()" class="btn btn-success mt-4 download-button">Descargar excel de usuarios <i class="fa fa-file-excel-o"></i></button>
        </ng-container>

        <ng-container *ngIf="isLoading">
            <div class="spinner-container">
              <div class="spinner"></div>
            </div>
        </ng-container>
    </div>
</div>

<app-admin-footer style="width: 100%;"></app-admin-footer>
  