<div class="turn-detail-page">
    <div class="turn-container">
        <h2>Detalle Turno</h2>

        <ng-container *ngIf="!isLoading">
          <form [formGroup]="turnoForm" (ngSubmit)="saveAppointment()">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="patientSelect">Paciente:</label>
                <select id="patientSelect" class="form-control" formControlName="paciente">
                  <option *ngFor="let patient of pacientes" [value]="patient">{{ patient.nombre + " " + patient.apellido }}</option>
                </select>
              </div>
            
              <div class="form-group col-md-6">
                <label for="dateTimePicker">Fecha y hora:</label>
                <input type="datetime-local" id="dateTimePicker" class="form-control" formControlName="fechaHora">
              </div>
            </div>
            
            <div class="form-group turn-text">
              <label for="infoTextArea">Información:</label>
              <textarea id="infoTextArea" class="form-control" formControlName="informacion"></textarea>
            </div>
            
            <div class="form-group">
              <label for="fileInput">Adjuntar archivos:</label>
              <input type="file" id="fileInput" class="form-control-file" (change)="onFileChange($event)">
            </div>
            
            <button class="btn btn-primary" type="submit">Guardar</button>
          </form>
        </ng-container>

        <ng-container *ngIf="isLoading">
            <div class="spinner-container">
              <div class="spinner"></div>
            </div>
        </ng-container>
    </div>
</div>

<app-admin-footer style="width: 100%;"></app-admin-footer>
  