.home-container {
    height: calc(100vh - 85px);
    width: 100%;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.home-content {
    text-align: center;
    color: #fff;
}
  