<div class="survey-modal">
    <div class="survey-modal-content">
      <h2>Historia clínica</h2>
      <div class="form-group">
        <label for="altura">Altura</label>
        <input type="number" class="form-control" id="altura" [(ngModel)]="altura" placeholder="Altura">
      </div>
      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="number" class="form-control" id="peso" [(ngModel)]="peso" placeholder="Peso">
      </div>
      <div class="form-group">
        <label for="fiebre">Temperatura</label>
        <input type="number" class="form-control" id="fiebre" [(ngModel)]="fiebre" placeholder="Temperatura">
      </div>
      <div class="form-group">
        <label for="presionSanguinea">Presión arterial</label>
        <input type="text" class="form-control" id="presionSanguinea" [(ngModel)]="presionSanguinea" placeholder="Presión arterial">
      </div>
      <div class="form-group" *ngFor="let field of dynamicFields; let i = index;">
        <div class="dynamic-fields">
            <label for="key{{i}}">Campo</label>
            <input type="text" class="form-control" id="key{{i}}" [(ngModel)]="field.key" placeholder="Campo">
            <label for="value{{i}}">Valor</label>
            <input type="text" class="form-control" id="value{{i}}" [(ngModel)]="field.value" placeholder="Valor">
            <button class="btn btn-danger" (click)="removeDynamicField(i)">Borrar</button>
        </div>
      </div>
      <button class="btn btn-primary" (click)="addDynamicField()" *ngIf="dynamicFields.length < 3">Añadir campo</button>
      <div class="modal-buttons">
        <button class="btn btn-secondary" (click)="closeSurveyModal()">Cerrar</button>
        <button class="btn btn-primary" (click)="submitSurvey()">Guardar</button>
      </div>
    </div>
</div>
  