<div class="dashboard-container">

  <h2>ADMIN DASHBOARD</h2>
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
                <h3>Conoce a nuestros profesionales</h3>
                <p></p>
                <button class="btn btn-primary" routerLink="/solicitar-turnos">Ver Especialistas</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h3>Contacto</h3>
                <p></p>
                <button class="btn btn-primary">Contacto</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h3>Lista de usuarios</h3>
                <p></p>
                <button class="btn btn-primary" routerLink="/admin/user-list">Ver usuarios</button>
            </div>
          </div>
        </div>
      </footer>
</div>