.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 85px);
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
}