<div class="turnos-page">
    <div class="turnos-container" *ngIf="!isLoading">
        <h2>Solicitar Turno</h2>

        <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()">

          <div class="form-select-container">
            <div *ngIf="isAdmin">
              <label>Paciente</label>
              <input type="text" (input)="onPacienteInputChange($event)">
              <div class="select-buttons">
                <button *ngFor="let paciente of filteredPacientes"
                      (click)="onSelectPaciente(paciente)"
                      [class.btn-primary]="paciente === selectedPaciente"
                      [class.btn-secondary]="paciente !== selectedPaciente"
                      class="btn">
                  {{ paciente.email }}
                </button>
              </div>
            </div>

            <div>
              <label>Especialidad:</label>

              <input type="text" (input)="onEspecialidadInputChange($event)" placeholder="Busque especialidad...">
              <div class="select-buttons">
                <img *ngFor="let especialidad of filteredEspecialidades"
                      (click)="onSelectEspecialidad(especialidad)"
                      [class.selected]="especialidad === selectedEspecialidad"
                      class="img-fluid"
                      [src]="especialidad.imgUrl"
                      [alt]="especialidad.name">
              </div>
            </div>

            <div>
              <label>Especialista (solo aparecen los verificados y habilitados):</label>
              <input type="text" (input)="onEspecialistaInputChange($event)" placeholder="Busque por especialista...">
              <div class="select-buttons" *ngIf="filteredEspecialistas">
                <div *ngFor="let especialista of filteredEspecialistas">
                  <img (click)="onSelectEspecialista(especialista)"
                       [class.selected]="especialista === selectedEspecialista"
                       class="img-fluid"
                       [src]="especialista.imagen"
                       [alt]="especialista.nombre">
                  <p>{{ especialista | namePipe }}</p>
                  </div>
              </div>
              <span *ngIf="filteredEspecialistas.length <= 0">No hay especialistas disponibles ahora mismo</span>
            </div>
          </div>

            <div *ngIf="selectedEspecialista" class="datetime-selector">
                <h4>Dias disponibles</h4>

                <div>
                  <button *ngFor="let date of orderedAvailability; let i = index;"
                        class="btn"
                        [class.btn-primary]="date === selectedDate"
                        [class.btn-secondary]="date !== selectedDate"
                        (click)="selectDate(date)">
                    {{ date.dayMonth }}
                  </button>
                </div>

                <ng-container *ngIf="availableHours">
                  <h4>Horas disponibles</h4>

                  <div>
                    <button *ngFor="let hour of availableHours"
                          class="btn"
                          [class.btn-primary]="hour === selectedHour"
                          [class.btn-secondary]="hour !== selectedHour"
                          (click)="selectHour(hour)">
                      {{ hour }}
                    </button>
                  </div>
                </ng-container>
            </div>

            <button type="submit" class="btn btn-primary submit-button" [disabled]="turnoForm.invalid">Solicitar turno</button>
        </form>
    </div>

    <ng-container *ngIf="isLoading">
        <div class="spinner-container">
          <div class="spinner"></div>
        </div>
    </ng-container>

    <app-footer style="width: 100%;"></app-footer>
</div>