.turnos-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 85px);
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;

    .turnos-container {
        width: 70%;
        // height: 50%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #b3b3b3;

        .form-select-container {
            display: flex;
            flex-direction: row;

            div {
                width: 100%;
                padding: 10px;
            }
        }

        .availability-grid {
            width: 100%;
            border-collapse: collapse;
    
            .available-cell {
                background: #73be48;
            }
        }
          
        .availability-grid th,
        .availability-grid td {
            padding: 5px;
            text-align: center;
            border: 1px solid #ccc;
        }
          
        .available {
            display: block;
            width: 8px;
            height: 8px;
            background-color: green;
            border-radius: 50%;
            margin: 0 auto;
        }

        .submit-button {
            margin-top: 10px;
        }
    }

    .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
      
    .spinner {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid #474747;
        border-top-color: #888;
        animation: spin 1s infinite linear;
    }
      
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    }
}