<div class="profile-page">
    <div class="profile-container">
        <div class="container">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Mi Perfil</h2>
                <div class="row">
                  <div class="col-md-4">
                      
                    <ngb-carousel>
                      <ng-template ngbSlide *ngFor="let image of user.images">
                        <div class="picsum-img-wrapper">
                          <img [src]="image" height="200" alt="Imagen de perfil" />
                        </div>
                      </ng-template>
                    </ngb-carousel>

                  </div>

                  <div class="col-md-8">
                    <!-- <h6 class="card-subtitle mb-2 text-muted"><strong>Nombre:</strong> {{ user.nombre + " " + user.apellido }}</h6> -->
                    <p class="card-text">
                        <strong>Nombre:</strong> {{ user.nombre + " " +  user.apellido }} <br>
                        <strong>Email:</strong> {{ user.email }}<br>
                        <strong>DNI:</strong> {{ user.dni }}<br>
                        <strong>Edad:</strong> {{ user.edad }}<br>
                        <strong>Obra social:</strong> {{ user.obraSocial }}<br>
                    </p>
                    <div *ngIf="user.type === 'paciente'">
                      <button routerLink="/historia-clinica" class="btn btn-primary">Ver historia clinica</button>
                    </div>
                    <div *ngIf="user.type === 'especialista'">
                      <button routerLink="/pacientes" class="btn btn-primary">Ver mis pacientes</button>
                    </div>
                  </div>
                </div>

                <div *ngIf="user.type === 'especialista'">
                    <h2>Horarios</h2>

                    <table class="availability-grid">
                      <thead>
                        <tr>
                          <th></th>
                          <th *ngFor="let day of daysOfWeek">{{ day }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let hour of hoursOfDay">
                          <th>{{ hour }}</th>
                          <td *ngFor="let day of daysOfWeek" [class.available-cell]="isAvailable(day, hour)">
                            <label *ngIf="day !== 'Sábado' || (day === 'Sábado' && saturdayHours.includes(hour))">
                              <input type="checkbox" [checked]="isAvailable(day, hour)" (change)="toggleAvailability(day, hour)" [value]="hour">
                            </label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
    </div>

    <app-footer style="width: 100%;"></app-footer>
</div>